[submodule "src/boot/mbr/syslinux"]
	path = src/boot/mbr/syslinux
	url = https://github.com/NotsoanoNimus/syslinux
[submodule "deps/MFTAH"]
	path = deps/MFTAH
	url = https://github.com/NotsoanoNimus/MFTAH
[submodule "deps/gnu-efi"]
	path = deps/gnu-efi
	url = https://github.com/ncroxon/gnu-efi
[submodule "deps/MFTAH-CLI"]
	path = deps/MFTAH-CLI
	url = https://github.com/NotsoanoNimus/MFTAH-CLI
